*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color-light-1: #ece0d1;
    --background-color-light-2: #f1e8de;
    --background-color-dark: #634832;
    --background-color-mid: #967259;

    --color-font-light: #ffe7cb;
    --color-font-dark: #634832;

    --shadow-main-1: 1px 1px 10px rgba(0,0,0,0.3);
    --shadow-main-2: 1px 1px 10px rgba(0,0,0,0.1);
}

html{
    font-size: 66.6%;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-light-2);
}

.main-container{
    width: 85vw;
    background-color: var(--background-color-light-1);
    border-radius: 10px;
    overflow: hidden;

    margin: auto;
    margin-bottom: 5vw;
    margin-top: 5vw;

    box-shadow: var(--shadow-main-1);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.5rem minmax(75rem,auto) 40rem;
}

.main__nav{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.main__nav--item{
    width: 33%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-font-light);
    background-color: var(--background-color-dark);
    font-size: 3rem;
    padding: 1rem;

    transition: all .5s;
}

.main__nav--item.active{
    color: var(--color-font-light);
    font-weight: 700;
}

.main__nav--item:hover, .main__nav--item:active{
    background-color: var(--background-color-mid);
}

.footer{
    background-color: var(--background-color-dark);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;

    color: var(--color-font-light);
    font-size: 2rem;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px solid var(--background-color-mid);
}

.contact__text{
    transition: all .5s;
    cursor: pointer;
}

.contact__text:hover, .contact__text:active{
    color: var(--background-color-mid);
}

.logo__div{
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 1px solid var(--background-color-mid);
}

.copyright__div{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1rem;
}

.media-icon{
    width: 10rem;

    fill: var(--color-font-light);
}