.about__div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    place-items: center;

    margin: 10rem;
}

.about__description{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 2fr;

    place-items: center;

    margin: 0 10rem 10rem 10rem;

    width: 100%;

    color: var(--color-font-dark);
}

.about__title{
    font-size: 4.8rem;
    font-weight: 700;
}

.about__text__div{
    text-align: center;
    font-size: 2rem;
}

.about__text{
    padding: 1rem;
}

.about__buttons{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about__button{
    background-color: var(--background-color-dark);
    color: var(--color-font-light);
    text-decoration: none;
    border: none;

    width: 30%;
    height: 5rem;

    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;

    transition: all .5s;
}

.about__button:hover, .about__button:active{
    background-color: var(--background-color-mid);
    transform: scale(1.05);
}